/* Stile generale */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.logo img {
  width: 60px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #34c759;
}

.contact-btn {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s;
}

.contact-btn:hover {
  background: #34d399;
  border-color: rgba(0, 20, 0, 0.9);
}

/* HERO */
.hero {
  padding: 80px 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  width: 60%;
  margin: 40px auto;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
}

.hero h1 {
  font-size: 42px;
  font-weight: 600;
}

.explore-btn {
  background: #34c759;
  border: none;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.3s ease, transform 0.2s;
}

.explore-btn:hover {
  background: #2aa64b;
  transform: scale(1.05);
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.feature {
  margin: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.3s ease, background 0.3s;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
}

.feature:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);
}

.feature img {
  width: 60px;
}

hr {
  margin: 20px auto;
  height: 2px;
  background-color: white;
  border-radius: 50px;
}

/* FOOTER */
.footer {
  margin-top: 50px;
  padding: 25px;
  background: rgba(0, 20, 0, 0.9);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.footer p {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
